<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/cms.css">
    <title>
      CMS  
    </title>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message)  %></p>
    <% end %>
  </head>
  
  <body>
    <div>
      <%= yield %>
    </div>  
  </body>
</html>