<!DOCTYPE html>
<html>
  
  <head>
    <title class='titles'>Users and Interests</title>
    <link rel="stylesheet" href="/stylesheets/fonts.css">
  </head>
  
  <body style="background-color:lightgrey">
    <h1 align='center' class='titles'>Users and Interests</h1>
    <div>
      <%= yield %>
    </div>
    <%= "There are #{count_users} users with a total of #{count_interests} interests." %>
  </body>
  
</html>